.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#heroSection{ 
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImgLeft{
  width: 100%;
  height: 75%;
  object-fit: fill;
  margin: 2rem 0 0 0;
}

#navbar{
  width: 100%;
  height: 7rem;
  background: linear-gradient(90deg, #ff3333, #ff8080);
}

.navbarContent{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem 0 0 0;
}

#logo{
  width: 5rem; 
  height: 5rem;
  background-color: #44ff33;
}

#links{
  width: 45rem; 
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsLink, .aboutLink, .contactLink{
  display: inline-block;
  margin: 0 2rem 0 2rem;
  color: #ffffff;
}

.productsLink:hover, .aboutLink:hover, .contactLink:hover{
  cursor: pointer;
}

.heroBg{
  width: 100%;
  height: 40rem;
  background: linear-gradient(90deg, #ff3333, #ff8080);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftHero{
  width: 45%;
  height: 95%;
}

.rightHero{
  position: relative;
  text-align: left;
  width: 45%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 5rem 0;
}

.rightHeroContent{
  width: 30rem;
}

.rightHeroTitle, .rightHeroSubtext{
  color: #ffffff;
}

.exploreMenuBtn{
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #ffadad;
  text-align: left;
  padding: 0 0 0 1rem;
  margin: 2rem 0 0 0;
  box-shadow: 0 3px 12px 0.1px #944a4a;
}

.exploreMenuBtn:hover{
  cursor: pointer;
}

.exploreMenuBtn:active{
  color: #ffffff;
  background-color: #ffadad;
}

.exploreStoryBtn{
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #fc6262;
  color: #ffffff;
  text-align: left;
  padding: 0 0 0 1rem;
  margin: 2rem 0 0 0;
  box-shadow: 0 3px 12px 0.1px #adadad;
}

.exploreStoryBtn:hover{
  cursor: pointer;
}

.exploreStoryBtn:active{
  color: #fc6262;
  background-color: #ffe6e6;
}

.aboutTitle{
  color: #fc6262;
}

.aboutBlocks{
  width: 100%;
  height: 40rem;
  display: flex;
}

.blockLeft{
  width: 30%;
  height: 100%;
}

.blockRight{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent{
  width: 30rem;
  text-align: left;
}

#servicesSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg,#ffffff 47%, #fc6262 47%);
  width: 100%;
  height: 50rem;
}

.servicesBlocks{
  width: 90%;
  height: 40rem;
  display: flex;
}

.serTitleContent{
  color: #ffffff;
}

.ser1{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.ser2{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.ser3{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ser4{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ser1content, .ser2content, .ser3content, .ser4content{
  width: 10rem;
}

.platformsBlocks{
  width: 100%;
  height: 40rem;
  display: flex;
}

.platformsTitle{
  color: #fc6262;
}

.platLeft{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platRight{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderArt{
  width: 70%;
  height: 60%;
  border-radius: 2rem;
  object-fit: fill;
  box-shadow: 0 3px 12px 0.1px #adadad;
}

.swiggy{
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  margin: 1rem 1rem 1rem 0;
  background-color: #fc8019;
}

.zomato{
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  margin: 1rem;
  background-color: #d63644;
}

.amazon{
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  margin: 1rem;
  background-color: #000000;
}

.swiggy:hover, .zomato:hover, .amazon:hover{
  cursor: pointer;
}

.swiggy:active{
  background-color: #cc6816;
}

.zomato:active{
  background-color: #b22b37;
}

.amazon:active{
  background-color: #414040;
}

.orderNowText{
  margin: 3rem 0 0 0;
}

#platformsSection{
  margin: 10rem 0 0 0;
}

.platContent{
  width: 30rem;
  text-align: left;
}

.reviewsBlocks{
  width: 100%;
  height: 40rem;
  display: flex;
}

.revTitleBlock{
  text-align: left;
}

.reviewsTitle{
  color: #fc6262;
}

.revLeft{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.revRight{
  width: 60%;
  height: 100%;
}

.reviewArtRight{
  width: 75%;
  height: 70%;
}

.reviewBox{
  width: 20rem;
  margin: 5rem 0 10rem 0;
}

.revNextBtn{
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background-color: #fc6262;
  color: #ffffff;
  box-shadow: 0 3px 12px 0.1px #adadad;
}

.alArrowDiv{
  display:flex;
  justify-content: center;
  align-items: center;
}

.revNextBtn:hover{
  cursor: pointer;
}

.revNextBtn:active{
  color: #fc6262;
  background-color: #ffe6e6;
}

.footerBlocks{
  width: 100%;
  height: 30rem;
  display: flex;
}

.footerLeft{
  width: 50%;
  height: 100%;
  position: relative;
}

.footerRight{
  width: 50%;
  height: 100%;
}

#bestsellersSection{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
  margin: 5rem 0 0 0;
  flex-direction: column;
}

.bestSellersBg{
  width: 85%;
  height: 30rem;
  border-radius: 1rem;
}

.seeMoreBtn{
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #fc6262;
  color: #ffffff;
  box-shadow: 0 3px 12px 0.1px #adadad;
}

.seeMoreBtn:hover{
  cursor: pointer;
}

.seeMoreBtn:active{
  color: #fc6262;
  background-color: #ffe6e6;
}

.bestSellersContent{
  text-align: left;
  margin: 3rem 0 5rem 0;
}

#bestSellingItemBox{
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  background-color: #ebebeb;
  border-radius: 2rem;
  display: inline-block;
  margin: 1rem;
  overflow: hidden;
}

#bestSellingItemBox:hover{
  cursor: pointer;
}

.BestsellersItems{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestSellersTitle{
  margin: 1rem;
}

.bestSellerBoxImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footerSection{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footerBlocks{
  width: 95%;
  padding: 3rem 0 0 0;
  border-radius: 2rem 2rem 0 0;
  background: linear-gradient( #ff8080 ,#ff3333);
}

.footerLeftContent{
  position: absolute;
  bottom: 0;
  text-align: left;
  margin: 5rem;
}

.footerRightContent{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.col-1, .col-2, .col-3{
  margin: 0 2rem 0 2rem;
}

#productDisp{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.prodDispBlock{
  display: flex;
  flex-direction: row;
  padding: 0 2rem 0 2rem;
}

.productLeft{
  width: 20%;
}

.productRight{
  text-align: left;
  width: 80%;
  margin: 0 0 0 5rem;
}

.prodTitle{
  padding: 2rem;
  margin: 0 0 0 2rem;
}

#productBox{
  width: 12rem;
  height: 14rem;
  overflow: hidden;
  box-shadow: 0 3px 12px 0.1px #adadad;
  border-radius: 1rem;
  display: inline-block;
  margin: 2rem;
  text-align: left;
}

.itemBoxText{
  margin: -1rem 0 0 1.5rem;
}

.itemBoxImg{
  width: 100%;
  height: 65%;
}

.itemBoxQty{
  margin: 0;
  color: #898989;
}

.itemBoxName{
  margin: 0;
}

.itemBoxPrice{
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff3333, #ff8080);
  color: #ffffff;
  margin: 0 0 0.5rem 0;
}

.categoryPane{
  text-align: left;
}

.categoryLink{
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.categoryLink:hover{
  cursor: pointer;
}

.catNameSelected{
  background-color: #ff8080;
  color: #ffffff;
}