.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#heroSection{ 
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar{
  width: 100%;
  height: 10rem;
  background: linear-gradient(90deg, #ff3333, #ff8080);
}

.navbarContent{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem 0 0 0;
}

#logo{
  width: 5rem; 
  height: 5rem;
  background-color: #44ff33;
}

#links{
  width: 45rem; 
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsLink, .aboutLink, .contactLink{
  display: inline-block;
  margin: 0 2rem 0 2rem;
  color: #ffffff;
}

.productsLink:hover, .aboutLink:hover, .contactLink:hover{
  cursor: pointer;
}

.heroBg{
  width: 100%;
  height: 40rem;
  background: linear-gradient(90deg, #ff3333, #ff8080);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftHero{
  width: 45%;
  height: 95%;
  
}

.rightHero{
  position: relative;
  text-align: left;
  width: 45%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10rem 0;
}

.rightHeroContent{
  width: 30rem;
}

.rightHeroTitle, .rightHeroSubtext{
  color: #ffffff;
}

.exploreMenuBtn{
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffffff;
  color: #ffadad;
  text-align: left;
  padding: 0 0 0 1rem;
  margin: 2rem 0 0 0;
}

.exploreMenuBtn:hover{
  cursor: pointer;
}

.exploreMenuBtn:active{
  color: #ffffff;
  background-color: #ffadad;
}

.exploreStoryBtn{
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #fc6262;
  color: #ffffff;
  text-align: left;
  padding: 0 0 0 1rem;
  margin: 2rem 0 0 0;
}

.exploreStoryBtn:hover{
  cursor: pointer;
}

.exploreStoryBtn:active{
  color: #fc6262;
  background-color: #ffe6e6;
}

.aboutTitle{
  color: #fc6262;
}

.aboutBlocks{
  width: 100%;
  height: 40rem;
  display: flex;
}

.blockLeft{
  width: 30%;
  height: 100%;
}

.blockRight{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContent{
  width: 30rem;
  text-align: left;
}

#servicesSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(-45deg,#ffffff 47%, #fc6262 47%);
  width: 100%;
  height: 50rem;
}

.servicesBlocks{
  width: 90%;
  height: 40rem;
  display: flex;
}

.serTitleContent{
  color: #ffffff;
}

.ser1{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.ser2{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.ser3{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ser4{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ser1content, .ser2content, .ser3content, .ser4content{
  width: 10rem;
}

.platformsBlocks{
  width: 100%;
  height: 40rem;
  display: flex;
}

.platLeft{
  width: 60%;
  height: 100%;
}

.platRight{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#platformsSection{
  margin: 10rem 0 0 0;
}

.platContent{
  width: 30rem;
  text-align: left;
}

.reviewsBlocks{
  width: 100%;
  height: 40rem;
  background-color: #61dafb;
  display: flex;
}

.revLeft{
  width: 40%;
  height: 100%;
  background-color: #30c154;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.revRight{
  width: 60%;
  height: 100%;
  background-color: #6ae3f8;
}

.reviewBox{
  width: 20rem;
  margin: 5rem 0 10rem 0;
}

.footerBlocks{
  width: 100%;
  height: 15rem;
  background-color: #61dafb;
  display: flex;
}

.footerLeft{
  width: 50%;
  height: 100%;
  background-color: #a6c130;
}

.footerRight{
  width: 50%;
  height: 100%;
  background-color: #b36af8;
}

#bestsellersSection{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
  margin: 5rem 0 0 0;
  flex-direction: column;
}

.bestSellersBg{
  width: 85%;
  height: 30rem;
  border-radius: 1rem;
}

.seeMoreBtn{
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color: #fc6262;
  color: #ffffff;
}

.seeMoreBtn:hover{
  cursor: pointer;
}

.seeMoreBtn:active{
  color: #fc6262;
  background-color: #ffe6e6;
}

.bestSellersContent{
  text-align: left;
  margin: 3rem 0 5rem 0;
}

#bestSellingItemBox{
  position: relative;
  overflow: hidden;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  background-color: #ebebeb;
  border-radius: 2rem;
  display: inline-block;
  margin: 1rem;
}

#bestSellingItemBox:hover{
  cursor: pointer;
}

.BestsellersItems{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestSellersTitle{
  margin: 1rem;
}

